---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import Main from '../layouts/Main.astro';
import Section from '../layouts/Section.astro';
import RandomEmoji from '../components/RandomEmoji.svelte';
import { BASE_URL, BASE_TITLE } from '../static/constants.ts';

const pageName = '404 Not Found';
let title: string = `${BASE_TITLE} – ${pageName}`;
let description = '404 page';
let permalink = `${BASE_URL}/404`;
---

<BaseLayout {title} {description} {permalink}>
  <Main className="place-content-center">
    <Section className="text-center">
      <h2 class="text-3xl font-bold">Oops, page not found...</h2>
      <RandomEmoji client:only />
      <p>
        The page does not exist. Maybe you were looking for my <a
          href="/blog"
          class="underline">blog</a
        >.
      </p>
    </Section>
  </Main>
</BaseLayout>
