---
import BaseLayout from '../layouts/BaseLayout.astro';
import Main from '../layouts/Main.astro';
import Section from '../layouts/Section.astro';
import ContactForm from '../components/ContactForm.svelte';
import { BASE_URL, BASE_TITLE } from '../static/constants.ts';

const pageName = 'Contact';
const title = `${BASE_TITLE} – ${pageName}`;
const description = 'Contact page';
const permalink = `${BASE_URL}/${pageName.toLowerCase()}`;
---

<BaseLayout {title} {description} {permalink}>
  <Main className="mt-4">
    <Section className="gap-4">
      <h2>Contact</h2>
      <ContactForm client:load />
    </Section>
  </Main>
</BaseLayout>
