---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.svelte'
import { BASE_URL, BASE_TITLE } from '../static/constants.ts'

const pageName = "Contact"
const title = `${BASE_TITLE} ${pageName}`
const description = "Contact page"
const permalink = `${BASE_URL}/${pageName.toLowerCase()}`
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="min-h-screen grid grid-layout md:grid-layout-wide gap-y-20">
    <Header />
    <main class="grid-main grid gap-4 auto-rows-min">
      <h2 class="text-2xl uppercase">Contact</h2>
      <ContactForm client:load/>
    </main>
    <Footer/>
  </body>
</html>
