---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import profilePicture from '../assets/img/johncheng.jpg';
import { BASE_URL, BASE_TITLE } from '../static/constants.ts'

const pageName = "Welcome";
let title: string = `${BASE_TITLE} – ${pageName}`;
let description = 'Home page of website';
let permalink = BASE_URL;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="min-h-screen grid grid-layout md:grid-layout-medium lg:grid-layout-large xl:grid-layout-wide gap-y-20">
    <Header />
    <main class="grid-main grid gap-20 auto-rows-min">
      <section class="grid place-items-center gap-4">
        <h2 class="sr-only">Introduction</h2>
        <div class="relative">
          <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-full blur opacity-75"></div>
          <img src={profilePicture} alt="Picture of John Cheng" class="relative rounded-full w-40">
        </div>
        <span class="text-3xl font-bold">John Cheng</span>
        <p>Software Engineer at 
          <a class="underline" href="https://futurice.com">
            Futurice
          </a>
        </p>
        <article class="grid grid-flow-col gap-4">
          <a href="https://github.com/john-nhoj">
            <span class="sr-only">Link to Github</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          </a>
          <a href="https://www.linkedin.com/in/john-nhoj/">
            <span class="sr-only">Link to linkedIn</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
          </a>
          <a href="https://www.instagram.com/nhoj.gnehc/">
            <span class="sr-only">Link to Instagram</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
          </a>
          </article>
      </section>
      <section class="grid gap-4 relative">
        <div class="absolute top-0 -left-4 w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
        <div class="absolute hidden md:block top-0 -right-4 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
        <div class="absolute hidden md:block -bottom-8 left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
        <h2 class="text-2xl underline">Briefly about me</h2>
        <div class="relative grid gap-4 grid-flow-col description-grid-4 overflow-x-scroll pb-2">
          <article class="description-card">
            <svg class="text-indigo-700 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="4 17 10 11 4 5"></polyline><line x1="12" y1="19" x2="20" y2="19"></line></svg>
            <h3 class="description-title">Current tech stack</h3>
            <p>Currently, my main tools are React with NextJS for the Frontend and NodeJS for the backend.</p>
            <p>But, this website is powered by Astro and I love it!</p>
          </article>
          <article class="description-card">
            <svg class="text-indigo-700 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
            <h3 class="description-title">Where can you find me?</h3>
            <p>I grew up in France but am currently living in Helsinki and in the future, you will find me all around the world as a Digital Nomad.</p>
          </article>
          <article class="description-card">
            <svg class="text-indigo-700 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
            <h3 class="description-title">Hobbies</h3>
            <p>When I am not typing hard on my keyboard, you have a good chance of finding me at the closest badminton hall trying to master that beautiful sport.</p>
            <p>If you have never tried, I encourage you to give it a shot!</p>
          </article>
          <article class="description-card">
            <svg class="text-indigo-700 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
            <h3 class="description-title">Fun fact</h3>
            <p>My archnemesis is the endivia. It is a leaf vegetable found in salads or tarts. I have tried all the recipes and I have never liked it...</p>
            <p>Hit me up if you also dislike it!</p>
          </article>
        </div>
      </section>
      <section class="relative grid gap-4">
        <div class="absolute top-0 -left-4 w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
        <div class="hidden md:block absolute top-0 -right-4 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
        <div class="hidden md:block absolute -bottom-8 left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
        <h2 class="text-2xl underline">Top 3 projects</h2>
        <div class="relative grid gap-4 grid-flow-col description-grid-3 overflow-x-scroll pb-2">
          <article class="description-card">
            <h3 class="description-title">Friendship App</h3>
            <p>Back when I arrived in Finland and started working at Futurice, my first ever project was to mentor students.</p>
            <p>I worked with them to develop a mobile application using React-Native and NodeJS.</p>
          </article>
          <article class="description-card">
            <h3 class="description-title">Sanoma</h3>
            <p>Sanoma is one of the biggest newspaper of Finland. There, I was part of the team that renewed their digital platform.</p>
            <p>We used NextJS to give a refreshed look of Ilta-Sanomat and Helsingin Sanomat with a strong focus on performance and accessibility.</p>
          </article>
          <article class="description-card">
            <h3 class="description-title">Online course platform</h3>
            <p>My girlfriend is giving courses online and I have developed a platform for her using Contentful, NextJS and Firebase.</p>
            <p>I used the Telegram API to automatically send her a message when a new student registers and she can directly accept or not the registration from the chat!</p>
          </article>
        </div>
      </section>
    </main>
    <Footer/>
  </body>
</html>
