---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="description-card">
  <header>
    <a href={post.url}><h3 class="font-bold">{post.title}</h3></a>
    <p class="subtitle">{post.publishDate}</p>
  </header>
  <p class="hidden md:block">{post.description}</p>
  <footer>
    <a class="underline" href={post.url}>Read more</a>
  </footer>
</article>
