---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="description-card">
  <header>
    <a href={post.url}><h2 class="description-title">{post.title}</h2></a>
    <h3 class="description-subtitle">{post.publishDate}</h3>
  </header>
  <p class="hidden md:block">{post.description}</p>
  <footer>
    <a class="underline" href={post.url}>Read more</a>
  </footer>
</article>
