---
import BaseLayout from '../layouts/BaseLayout.astro';
import Main from '../layouts/Main.astro';
import Section from '../layouts/Section.astro';
import '../styles/blog.css';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
  content;
---

<BaseLayout {title} {description} {permalink}>
  <Main>
    <article>
      <Section className="place-items-center">
        {heroImage && <img width="720" height="420" loading="lazy" src={heroImage} alt={alt} class="md:w-full" />}
      </Section>
      <Section className="mt-4 gap-1 place-items-center text-center">
        <div class="bg-white shadow-md p-2 md:p-8 rounded-md">
          <h2>{title}</h2>
          <p class="subtitle">{publishDate}</p>
        </div>
      </Section>
      <Section className="mt-4 gap-4">
        <slot />
      </Section>
    </article>
  </Main>
</BaseLayout>
